.container {
  display:flex;
  flex-direction:column;
 align-items: center;
}

h1 {
  color: orange;
  font-size: 65px;
  text-align:center;
}

.submitButton {
  width: 200px;
  height: 40px;
  color: orange;
  border: 1px solid gray;
  border-radius: 100px;
  font-size:20px;
}

.inputField {
  width: 500px;
  height:40px;
  font-size:20px;
  border-bottom: 1px solid gray;
  border-radius: 100px;
}

ul {
  list-style: none;
  margin: 0;
   padding: 0;
}

li {
  display:flex;
  align-items:center;
}

.box {
  width: 20px;
  height: 20px;
}

.chore {

  padding-left:30px;

}

.completeItems {
  text-decoration: line-through;
  font-size: 20px;

}

.checkButton {
  margin:0px;
  border:1px solid orange;
}

.row {
  margin-top: 20px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
font-size: 20px;
}
